<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


{{lev}}
<br>
<br>
{{question.question}}
<a class="btn btn-primary" href="/game/1" role="button">{{question.answers[0]}}</a>

<a class="btn btn-primary" href="/game/2" role="button">{{question.answers[1]}}</a>

<a class="btn btn-primary" href="/game/3" role="button">{{question.answers[2]}}</a>

<a class="btn btn-primary" href="/game/4" role="button">{{question.answers[3]}}</a>